@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Cher Home Page</h1>
    <p>This Cher Website for my term project will 100% prove I'm an amazing Web Devolper...</p>


    <a asp-controller="Home" asp-action="Index">Index</a>



</div>
