@{
    ViewData["Title"] = "Career";
}

<div class="text-center">
    <h1 class="display-4">Cher's Career</h1>
    <p>This page is all about Cher 60 + year Career!!! </p>


    <a asp-controller="Career" asp-action="Index">Index</a>

    <br />

    <a asp-controller="Career" asp-action="Albums">Albums</a>

    <br />

    <a asp-controller="Career" asp-action="Awards">Awards</a>

    <br />

    <a asp-controller="Career" asp-action="Film">Films</a>

    <br />

    <a asp-controller="Career" asp-action="TV">TV</a>


    <br />


</div>

