@{
    ViewData["Title"] = "Seventies";
}



<div>
    <h2>This is about Cher's Fashion in the 1970's</h2>
    <br />
    <br />
    <img src="~/FavOutfits/1970TakeMeHome.png" alt="Disco Cher">
</div>


<a asp-controller="Fashion" asp-action="Index">Fashion Home</a>

<style>
    img {
        border-radius: 50%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
</style>