@{
    ViewData["Title"] = "FanClub";
}

<div class="text-center">
    <h1 class="display-4">Fan Club</h1>
    <p>Check your Cher knowledge</p>
    <p>All answers can be found under the Career section of this site. </p>

    <br />

    <a asp-controller="FanClub" asp-action="Quiz">Cher Quiz</a>

    <br />

    <a asp-controller="FanClub" asp-action="Stories">Stories</a>

    <br />

    <a asp-controller="FanClub" asp-action="AllStories">View All Stories</a><br />


</div>


