@{
    ViewData["Title"] = "Albumns";
}



<div>
    <h2>This is about Cher's Film career</h2>
    <p>Answer to the quiz questions are:  </p>
    <br />
    <p>Cher has released 26 studio albums. Many more ablums have been live or collaborations.</p>

</div>


<a asp-controller="Career" asp-action="Index">Career Home</a>
