@{
    ViewData["Title"] = "Awards";
}



<div>
    <h2>This is about Cher's Film career</h2>
    <p>Answer to the quiz question is:  </p>
    <br />
    <p>Moonstruck was the movie Cher won an acdemy award for. </p>
</div>


<a asp-controller="Career" asp-action="Index">Index</a>
