@{
    ViewData["Title"] = "Film Career";
}



<div>
    <h2>This is about Cher's Film career</h2>
    <p>Answer to the quiz question is:  </p>
    <br />
    <p>Cher's first lead role movie was Mask. </p>

</div>


<a asp-controller="Career" asp-action="Index">Index</a>
