@{
    ViewData["Title"] = "TV Career";
}



<div>
    <h2>This is about Cher's TV career</h2>
    <p>Answer to the quiz question of how long did Cher's variety show last for was 1 year. Starting in 1975 and ended in 1976.  </p>
</div>

<div>
    <p>One of my favorite Cher facts is she did a special of West Side Story all on her own. </p>
    <p>ABC aired it in 1978 and Cher played every role. </p>

</div>


<iframe width="500" height="300" src="https://www.youtube.com/embed/qLq6k6Ckafg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>



<br />
<a asp-controller="Career" asp-action="Index">Index</a>
